.App{
  margin: 20px;
}
.msg{
  width: 30%;
  min-width: 200px;
  
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 50px; left: auto; bottom: auto; right: 40px;
  border: 2px solid red;
  background-color: white;
  opacity: 0.9;
  border-radius: 5px;
  
  text-align: center;
}
.close{
cursor: pointer;

}
.close::after{
  content: "X";
  float: right;
  margin-right: 10px;
}
.textMsg{
  height: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
}


